<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- <add name="databaseEntities" connectionString="metadata=res://*/dbModel.csdl|res://*/dbModel.ssdl|res://*/dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	  
	  <add name="databaseEntities" connectionString="metadata=res://*/dbModel.csdl|res://*/dbModel.ssdl|res://*/dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\mt_con_database\database.mdf;integrated security=True;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	  <!-- chida <add name="databaseEntities" connectionString="metadata=res://*/dbModel.csdl|res://*/dbModel.ssdl|res://*/dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\mt_con_database\database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
<appSettings>
	<add key="URL_BASE" value="http://backtransportistas.tarjetasintegrales.mx:806/api/v1/" />
	<add key="USUARIO_DB_LOCAL" value="admin_multitarifa" />
	<add key="PASSWORD_DB_LOCAL" value="1234567890" />
	<add key="NOMBRE_DB_LOCAL" value="db_consola_multitarifa.db" />
	<!-- <add key="CADENA_CONEXION_DB_LOCAL" value="Data Source=C:\dbconsolaalcancia\db_consola_multitarifa.db;Version=3;" /> -->
	<add key="CADENA_CONEXION_DB_LOCAL" value="Data Source=.\db_consola_multitarifa.db;Version=3;" />
	<add key="LLAVE" value="Tisa.2024" />
	<add key="ADMIN_CONSOLA_ALCANCIA" value="mt_con_admin" />
	<add key="ADMIN_CONSOLA_ALCANCIA_PASS" value="mt_con_admin" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />

	<add key="PORT_NAME" value="COM6" />
	<add key="BAUD_RATE" value="38400" />
	<add key="DATA_BITS" value="8" />
	<add key="STOP_BITS" value="1" />
	<add key="PARITY" value="NONE" />
</appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>